{% extends "routes/tracklists.html" %} {% block tracklists_main %}
<div id="create-artist-form" class="flex flex-col">
  <form action="/tracklists/artists/create" method="post">
    <label for="artist_name">
        Enter Artist Name:
        <input type="text" name="artist_name">
    </label>

    <label for="real_name">
        Enter Real Name:
        <input type="text" name="real_name">
    </label>

    <button hx-trigger="click" hx-post="/tracklists/artists/create" hx-target="#create-artist-form" hx-swap="outHTML" type="submit">Submit</button>
</form>
</div>
{% endblock tracklists_main %}
